$main-ff: 'Jost', sans-serif;

$peach-color: #E7816B;
$black-color: #1D1C1E;
$white-color: #FFFFFF;
$light-peach-color: #FFAD9B;
$dark-grey-color: #333136;
$light-grey-color: rgba(241, 243, 245, 85.76%);
